<div class="col-md-3">
  <div class="card">
    <div class="card-img-top">
      <%= link_to image_tag(dish.image, alt: dish.name, width: "100%",
          height: "200px", class: "dish-image"), dish %>
    </div>
    <div class="card-body">
      <h5 class="card-title t-center"><%= link_to dish.name, dish %></h5>
      <p class="card-text"><%= dish.description %></p>
      <p class="card-text t-center"><%= dish.price %></p>
    </div>
  </div>
</div>
